<div class="background">
</div>

    <div class="title-container">
        <p id="title"><strong>MyFinance</strong></p>
    </div>

    <div class="content">
        <div class="form">
            <p id="form-title"><strong>Acesse sua conta</strong></p>

            <div class="input-container">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="email" id="email" matInput placeholder="bob@example.com">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Senha</mat-label>
                    <input type="password" [(ngModel)]="password" id="password" matInput>
                </mat-form-field>
            </div>

            <button (click)="submit()" mat-raised-button id="login-button">
                <i class="fas fa-sign-in-alt"></i> Login
            </button>
            
            <p class="register-link">Ainda não tem conta? <a href="/signup">Cadastre-se</a></p>
        </div>
    </div>

