.title-container {
  display: flex;
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  align-items: center;
  /* Centraliza os itens verticalmente */
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {

  display: flex;
  flex-direction: column;
  /* Faz os itens ficarem um embaixo do outro */
  align-items: center;
  /* Centraliza horizontalmente */
  justify-content: center;
  width: 500px;
  height: 400px;
  margin-bottom: 200px;
  background-color: rgb(204, 204, 204);
  gap: 20px;
  border-radius: 10px;

}

.input-container {
  display:flex;
  flex-direction: column;
}

#title {
  color: purple;
  font-size: 36px;
  font-family: "Inter", serif;
}

#form-title {
  font-size:25px;

}