<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>


<button mat-button id="back" (click)="irParaOutraRota('')">Voltar</button>
<div class="header">
  <h1>Gastos e Entradas</h1>
</div>

<div class="filter-bar">
  <div>
    <button mat-flat-button id="add">
      Adicionar
    </button>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Ano</mat-label>
      <mat-select [(ngModel)]="year">
        <mat-option value="2024">2024</mat-option>
        <mat-option value="2023">2023</mat-option>
        <mat-option value="2022">2022</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Mês</mat-label>
      <mat-select [(ngModel)]="month">
        <mat-option value="1">Janeiro</mat-option>
        <mat-option value="2">Fevereiro</mat-option>
        <mat-option value="3">Março</mat-option>
        <mat-option value="4">Abril</mat-option>
        <mat-option value="5">Maio</mat-option>
        <mat-option value="6">Junho</mat-option>
        <mat-option value="7">Julho</mat-option>
        <mat-option value="8">Agosto</mat-option>
        <mat-option value="9">Setembro</mat-option>
        <mat-option value="10">Outubro</mat-option>
        <mat-option value="11">Novembro</mat-option>
        <mat-option value="12">Dezembro</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select [(ngModel)]="category">
      <mat-option value="Utilities">Utilities</mat-option>
      <mat-option value="investimento">Investimento</mat-option>
      <mat-option value="Salary">Salary</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button (click)="filtrarGastos()" mat-flat-button id="filter">
      Filtrar
    </button>
  </div>
</div>

<div id="test"></div>




